$def with(movie)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>阿狸天鹅出品</title>

<!-- Meta Data -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<!-- Site Title -->

<!-- Link to Style External Sheet -->
    <link href="./page.css" type="text/css" rel="stylesheet" />
    <link href="./body.css" type="text/css" rel="stylesheet" />

</head>

<body>

<div id="page_wrapper" class="rich_media">
    <div id="top_and_area" class="top_banner" style="display: none;">

    </div>
    <div id="header_wrapper" class="rich_media_inner">
        <div id="page-content">
            <div id="img-content" class="rich_media_area_primary">
                <h2 class="rich_media_title" id="activity-name">
                 影单|推荐电影の$movie[0]
                </h2>
                <div class="rich_media_content">
                    <p style="margin: 0em 1em;letter-spacing: 1.5px;line-height: 25.6px;text-align: center">
                        <span style="font-size: 16px;color: rgb(5,147,211);">$movie[0]</span>
                    </p>
                    <p style="margin: 0em 1em; letter-spacing: 1.5px; line-height: 25.6px; text-align: center;">
                        <span style="font-size: 12px; color: rgb(136, 136, 136);">豆瓣评分：$movie[1]</span>
                        <span style="font-size: 14px;"><br></span>
                    </p>
                    <p style="letter-spacing: 1.5px; line-height: 25.6px;">
                        <br>
                    </p>
                    <p style="margin: 0em 1em; letter-spacing: 1.5px; line-height: 25.6px;">
                        <span style="font-size: 14px;">
                            导演:&nbsp;$movie[2]
                            <br style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif;
                            font-size: 12px; line-height: 19.44px; white-space: normal;
                            background-color: rgb(255, 255, 255);">
                            编剧:&nbsp;$movie[3]
                            <br style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif;
                            font-size: 12px; line-height: 19.44px; white-space: normal;
                            background-color: rgb(255, 255, 255);">
                            主演:&nbsp;$movie[4]
                            <br style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif;
                            font-size: 12px; line-height: 19.44px; white-space: normal;
                            background-color: rgb(255, 255, 255);">
                            语言:&nbsp;$movie[5]
                            <br style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif;
                            font-size: 12px; line-height: 19.44px; white-space: normal;
                            background-color: rgb(255, 255, 255);">
                            上映日期:&nbsp;$movie[6]
                            <br style="color: rgb(17, 17, 17); font-family: Helvetica, Arial, sans-serif;
                            font-size: 12px; line-height: 19.44px; white-space: normal;
                            background-color: rgb(255, 255, 255);">
                            片长:&nbsp;$movie[7]
                        </span>
                    </p>
                    <p style="margin: 0em 1em; letter-spacing: 1.5px; line-height: 25.6px;">
                        <span style="font-size: 14px;">
                            <br>
                        </span>
                    </p>
                    <p style="margin: 0em 1em;letter-spacing: 1.5px;line-height: 25.6px;text-align: center;">
                        <img src=$movie[11] style="width: auto;height: auto;visibility: visible;">
                        <br>
                    </p>
                    <p style="margin: 0em 1em;letter-spacing: 1.5px;line-height: 25.6px;text-align: center;">
                        <a href=$movie[9]>点我观看免费视频</a>
                    </p>
                    <p style="margin: 0em 1em;letter-spacing: 1.5px;line-height: 25.6px;">
                        <span style="font-size: 14px;">
                            $movie[8]
                        </span>
                    </p>
                    <p style="margin: 0em 1em;letter-spacing: 1.5px;line-height: 25.6px;">
                        <span style="font-size: 14px;">
                            <br>
                        </span>
                    </p>
                    <p style="margin: 0em 1em;letter-spacing: 1.5px;line-height: 25.6px;">
                        <span style="font-size: 14px;">
                            <br>
                        </span>
                    </p>
                    <p style="margin: 0em 1em;letter-spacing: 1.5px;line-height: 25.6px;text-align: center;">
                        <span style="color: rgb(136,136,136); font-size: 12px;">
                            -END-
                        </span>
                    </p>
                    <p style="margin: 0em 1em;letter-spacing: 1.5px;line-height: 25.6px;">
                        <span style="font-size: 14px;">
                            <br>
                        </span>
                    </p>
                    <p style="text-align: center;">
                        <img src="http://139.196.29.97/images/erweima.jpg" style="width: auto;height: auto;visibility: visible;">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer" class="rich_media">
    <p style="margin: 0em 1em;letter-spacing: 1.5px;line-height: 25.6px;text-align: center">
        CopyRight@阿狸天鹅
    </p>
</div>
</body>
</html>
